<script setup lang="ts">
import { ref } from 'vue'

type Row = {
	name: string
}

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const columns: any = [
	{
		name: 'desc',
		required: true,
		label: 'Dessert (100g serving)',
		align: 'left',
		field: (row: Row) => row.name,
		format: (val: string) => `${val}`,
		sortable: true,
	},
	{ name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true },
	{ name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
	{ name: 'carbs', label: 'Carbs (g)', field: 'carbs' },
]

const rows: Row[] = [
	{
		name: 'Frozen Yogurt',
	},
	{
		name: 'Ice cream sandwich',
	},
	{
		name: 'Eclair',
	},
	{
		name: 'Cupcake',
	},
	{
		name: 'Gingerbread',
	},
	{
		name: 'Jelly bean',
	},
	{
		name: 'Lollipop',
	},
	{
		name: 'Honeycomb',
	},
	{
		name: 'Donut',
	},
	{
		name: 'KitKat',
	},
]

const filter = ref('')
</script>

<template>
	<div class="q-pa-md">
		<q-table
			grid
			card-class="bg-primary text-white"
			title="Treats"
			:rows="rows"
			:columns="columns"
			row-key="name"
			:filter="filter"
			hide-header
		>
			<template v-slot:top-right>
				<q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
					<template v-slot:append>
						<q-icon name="search" />
					</template>
				</q-input>
			</template>
		</q-table>
	</div>
</template>
