<script setup lang="ts">
import { reactive } from 'vue'

const po = reactive({
	name: '유틸 페이지',
})
</script>
<template>
	<q-page padding>
		<div class="text-h5">
			{{ po.name }}
		</div>
	</q-page>
</template>
<style lang="scss" scoped></style>
