<script setup lang="ts">
import { ref } from 'vue'

const bTab = ref<string>('page1')
</script>

<template>
	<q-layout view="hHh lpr fFf">
		<q-page-container>
			<router-view />
		</q-page-container>

		<q-footer reveal bordered class="bg-grey-1 text-grey-9">
			<q-toolbar>
				<q-toolbar-title>
					<q-avatar>
						<q-img src="/icon.svg"> <a href="/" class="absolute-full all-pointer-events flex flex-center"></a></q-img>
					</q-avatar>
				</q-toolbar-title>
				<q-tabs
					v-model="bTab"
					inline-label
					switch-indicator
					narrow-indicator
					indicator-color="yang"
					active-color="grey-9"
					class="text-grey-7"
					dense
				>
					<q-route-tab to="/yang/util" name="page1" label="유틸" exact />
					<q-route-tab to="/yang/farm" name="page3" label="농장" exact />
				</q-tabs>
			</q-toolbar>
		</q-footer>
	</q-layout>
</template>

<style lang="scss" scoped></style>
